@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(200deg, 15%, 8%);
  font-size: 14px;
  transition: background-color 0.7s linear, color 0.7s linear;
}

body.dark {
  background-color: hsl(207deg, 26%, 17%);
  color: hsl(0deg, 0%, 100%);
}

a {
  text-decoration: none;
  color: hsl(200deg, 15%, 8%);
  cursor: pointer;
  transition: color 0.5s line-height;
}

body.dark a {
  color: hsl(0deg, 0%, 100%);
}

body.dark .navbar {
  background-color: hsl(209deg, 23%, 22%);
}

body.dark .img {
  filter: brightness(0.9);
}

body.dark input {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(209deg, 23%, 22%);
}

.navbar {
  width: 100%;
  padding: 20px;
  background-color: hsl(0deg, 0%, 98%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  outline: none;
}
body.dark .switch__toggle + .slider::before {
  content: "🌙";
  transform: translateX(23px);
}
body.dark .switch__toggle + .slider {
  background-color: rgba(170, 172, 177, 0.2588235294);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.slider::before {
  content: "☀️";
  position: absolute;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: hsl(0deg, 0%, 100%);
  transition: 0.4s;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.notFound {
  grid-column: span 4;
  text-align: center;
  margin-top: 20px;
}
.notFound__img {
  margin-bottom: 10px;
  max-width: 200px;
  max-height: 200px;
  animation: upDown 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
body.dark .notFound__img {
  filter: brightness(0.83);
}

.search {
  width: 100%;
  padding: 20px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.search__input {
  width: 40%;
}
.search input {
  font-size: 14px;
  outline: none;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.search__select {
  font-size: 16px;
  width: 30%;
  padding: 10px;
  border-radius: 3px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
body.dark .search__select {
  outline: none;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(209deg, 23%, 22%);
}
.search.hide {
  display: none;
}

.load {
  display: none;
}

.squeleton__article {
  background-color: #e2e8f0;
  width: 100%;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  border-radius: 7px;
  height: 400px;
  padding: 10px;
  overflow: hidden;
}
.squeleton__image {
  width: 100%;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  height: 50%;
  border-radius: 7px;
  background-color: #cbd5e1;
}
.squeleton__text {
  display: block;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #cbd5e1;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  height: 15px;
}
body.dark .squeleton__article {
  background-color: hsl(209deg, 23%, 22%);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
body.dark .squeleton__text, body.dark .squeleton__image {
  background-color: hsl(207deg, 26%, 17%);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.article {
  position: absolute;
  top: 0px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px max-content;
  place-items: center;
  padding: 20px 30px;
  gap: 50px;
  line-height: 2;
}
.article__border {
  border: none;
  width: 100%;
  border-radius: 3px;
  margin-right: 10px;
  padding: 5px 15px;
}
.article__span {
  font-weight: 600;
}
.article__title {
  font-size: 24px;
}
.article__flag {
  max-width: 100%;
  height: 400px;
}
.article__back {
  grid-column: span 2;
  height: auto;
  justify-self: self-start;
  padding: 7px 25px;
  background-color: hsl(0deg, 0%, 100%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  border-radius: 5px;
}
.article__data {
  display: flex;
  width: 100%;
  max-height: 400px;
  flex-wrap: wrap;
  margin-left: 20px;
  align-items: center;
  justify-content: space-between;
}
.article__data--one, .article__data--two {
  width: 50%;
  word-wrap: break-word;
}
.article__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}
body.dark .article__back {
  background-color: hsl(209deg, 23%, 22%);
}

.load.loading {
  display: block;
  background-color: black;
}

.container {
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: -10;
  padding: 20px 0;
}
.container__section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0 20px;
  position: relative;
  z-index: 10;
}
.container__article {
  background-color: hsl(0deg, 0%, 100%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  border-radius: 7px;
  height: 400px;
  overflow: hidden;
}
.container__article--text {
  padding: 20px 30px;
  line-height: 2;
  word-wrap: break-word;
}
.container__article--title {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 10px;
}
body.dark .container__article {
  background-color: hsl(209deg, 23%, 22%);
}
.container .text-span {
  font-weight: 600;
}
.container__image {
  width: 100%;
  height: 50%;
}

.error404 {
  text-align: center;
  grid-column: span 4;
  line-height: 2;
}
.error404__text {
  font-size: 1.5rem;
}
.error404__back {
  display: inline-block;
  font-size: 1rem;
  background-color: rgb(3, 86, 239);
  padding: 3px 20px;
  margin-top: 20px;
  border-radius: 5px;
  transition: background-color 0.5s ease-in;
  color: hsl(0deg, 0%, 100%);
}
.error404__back:hover {
  background-color: rgb(4, 57, 154);
}
.error404__image {
  font-weight: 800;
  text-align: center;
  font-size: 4rem;
  animation: upDown 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@media screen and (max-width: 962px) {
  .container__section {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .container__section {
    grid-template-columns: repeat(2, 1fr);
  }
  .container__article {
    height: 350px;
  }
  .article {
    grid-template-columns: repeat(1, 100%);
    gap: 20px;
  }
  .article__back {
    grid-column: span 1;
  }
  .article__flag {
    max-width: 100%;
    height: 200px;
  }
  .article__data {
    line-height: 2;
  }
  .article__data--one {
    margin-bottom: 30px;
  }
  .article__data--one, .article__data--two {
    width: 100%;
  }
  body.dark .article__img {
    opacity: 0.8;
  }
  .error404__text {
    font-size: 1rem;
  }
  .error404__image {
    font-size: 3rem;
  }
}
@media screen and (max-width: 462px) {
  .container__section {
    grid-template-columns: repeat(1, 1fr);
  }
  .search__input, .search__select {
    width: 100%;
  }
  .search__select {
    margin-top: 15px;
  }
}
@keyframes upDown {
  0%, 100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0px);
  }
}
@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
}

/*# sourceMappingURL=styles.css.map */
