@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(200deg, 15%, 8%);
  font-size: 14px;
  transition: background-color 0.7s linear, color 0.7s linear;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: hsl(207deg, 26%, 17%);
}

body::-webkit-scrollbar-thumb {
  background-color: hsl(209deg, 23%, 22%);
  border-radius: 20px;
}

body.dark {
  background-color: hsl(207deg, 26%, 17%);
  color: hsl(0deg, 0%, 100%);
}

a {
  text-decoration: none;
  color: hsl(200deg, 15%, 8%);
  cursor: pointer;
  transition: color 0.5s line-height;
}

body.dark a {
  color: hsl(0deg, 0%, 100%);
}

.navbar {
  width: 100%;
  padding: 20px;
  background-color: hsl(0deg, 0%, 98%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

body.dark .navbar {
  background-color: hsl(209deg, 23%, 22%);
}

body.dark .img {
  filter: brightness(0.9);
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search {
  width: 100%;
  padding: 10px 20px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.search__input {
  width: 40%;
}
.search input {
  font-size: 14px;
  width: 100%;
  padding: 7px 10px;
  border-radius: 3px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.search__select {
  font-size: 16px;
  width: 30%;
  padding: 7px 10px;
  border-radius: 3px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
body.dark .search__select {
  outline: none;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(209deg, 23%, 22%);
}

body.dark input {
  outline: none;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(209deg, 23%, 22%);
}

.load {
  display: none;
}

.article {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 90vh;
  display: flex;
  place-items: center;
  padding: 0 30px;
}
.article__flag {
  width: 100%;
  height: 50%;
}
.article__data {
  display: flex;
  width: 100%;
  height: 50%;
  margin-left: 20px;
  align-items: center;
  justify-content: space-between;
}
.article__data--one {
  width: 50%;
}
.article__data--two {
  width: 50%;
}
.article img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 7px;
}

.load.loading {
  display: block;
  background-color: black;
}

.container {
  position: absolute;
  top: 70px;
  width: 100%;
  z-index: -10;
}
.container__section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
  padding: 0 20px;
  position: relative;
  z-index: 10;
}
.container__article {
  background-color: hsl(0deg, 0%, 100%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  border-radius: 7px;
  height: 400px;
  overflow: hidden;
}
.container__article--text {
  padding: 20px 30px;
  line-height: 2;
  word-wrap: break-word;
}
.container__article--title {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 10px;
}
body.dark .container__article {
  background-color: hsl(209deg, 23%, 22%);
}
.container .text-span {
  font-weight: 600;
}
.container__image {
  width: 100%;
  height: 50%;
}

.squeleton__article {
  background-color: #e2e8f0;
  width: 100%;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  border-radius: 7px;
  height: 400px;
  padding: 10px;
  overflow: hidden;
}
.squeleton__image {
  width: 100%;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  height: 50%;
  border-radius: 7px;
  background-color: #cbd5e1;
}
.squeleton__text {
  display: block;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #cbd5e1;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  height: 15px;
}
body.dark .squeleton__article {
  background-color: hsl(209deg, 23%, 22%);
}
body.dark .squeleton__image, .squeleton__text {
  background-color: hsl(207deg, 26%, 17%);
}

@media screen and (max-width: 962px) {
  .container__section {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .container__section {
    grid-template-columns: repeat(2, 1fr);
  }
  .container__article {
    height: 350px;
  }
}
@media screen and (max-width: 462px) {
  .container__section {
    grid-template-columns: repeat(1, 1fr);
  }
  .search__input, .search__select {
    width: 100%;
  }
  .search__select {
    margin-top: 15px;
  }
}
@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
}

/*# sourceMappingURL=styles.css.map */
