$slate-light: #e2e8f0;
$slate-normal: #cbd5e1;
$slate-semibold: #94a3b8;

//Dark Mode Colors

$dark-blue: hsl(209, 23%, 22%);
$very-dark-blue: hsl(207, 26%, 17%);

//Light Mode Colors
$very-dark-blue-light: hsl(200, 15%, 8%);
$dark-gray: hsl(0, 0%, 52%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

//Button error 404 color 
$error404: rgb(3, 86, 239);
$error404-hover : rgb(4, 57, 154);