@use 'mixins';
@use 'colors';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: colors.$very-light-gray;
    color: colors.$very-dark-blue-light;
    font-size: 14px;
    transition: background-color .7s linear,
        color .7s linear;
}

body.dark {
    background-color: colors.$very-dark-blue;
    color: colors.$white;
}

a {
    text-decoration: none;
    color: colors.$very-dark-blue-light;
    cursor: pointer;
    transition: color .5s line-height;
}

body.dark a {
    color: colors.$white;
}

body.dark .navbar {
    background-color: colors.$dark-blue;
}

body.dark .img {
    filter: brightness(.9);
}

body.dark input {
    color: colors.$white;
    background-color: colors.$dark-blue;
}

//Estilos de la barra de navegacion
.navbar {
    width: 100%;
    padding: 20px;
    background-color: colors.$very-light-gray;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    top: 0;
    z-index: 10;
    @include mixins.flexbox(row, space-between, center);
}

//Estilos del boton para el tema de la aplicacion
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 27px;

    & input {
        opacity: 0;
        width: 0;
        height: 0;
        outline: none;
    }

    //input:checked + .slider::before
    body.dark &__toggle+.slider::before {
        content: "🌙";
        transform: translateX(23px);
    }

    body.dark &__toggle+.slider {
        background-color: colors.$btn-mode-dark;
    }
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: colors.$btn-mode-light;
    transition: .4s;

    &::before{
        content: "☀️";
        position: absolute;
        width: 20px;
        left: 4px;
        bottom: 4px;
        background-color: colors.$white;
        transition: .4s;
    }

}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

//Estilos de las busquedas
.notFound {
    grid-column: span 4;
    text-align: center;
    margin-top: 20px;

    &__img {
        margin-bottom: 10px;
        max-width: 200px;
        max-height: 200px;
        animation: upDown 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }

    body.dark &__img {
        filter: brightness(.83);
    }

}

.search {
    width: 100%;
    padding: 20px;
    flex-wrap: wrap;
    @include mixins.flexbox(row, space-between, center);

    &__input {
        width: 40%;
    }

    input {
        font-size: 14px;
        outline: none;
        width: 100%;
        padding: 10px;
        border-radius: 3px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    &__select {
        font-size: 16px;
        width: 30%;
        padding: 10px;
        border-radius: 3px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }


    body.dark &__select {
        outline: none;
        color: colors.$white;
        background-color: colors.$dark-blue;
    }

    &.hide {
        display: none;
    }
}


.load {
    display: none;
}

//Vista de carga
.squeleton {

    &__article {
        background-color: colors.$slate-light;
        width: 100%;
        animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
        border-radius: 7px;
        height: 400px;
        padding: 10px;
        overflow: hidden;
    }

    &__image {
        width: 100%;
        animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
        height: 50%;
        border-radius: 7px;
        background-color: colors.$slate-normal;
    }

    &__text {
        display: block;
        margin-top: 10px;
        border-radius: 5px;
        background-color: colors.$slate-normal;
        animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
        height: 15px;
    }

    body.dark &__article {
        background-color: colors.$dark-blue;
        animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }

    body.dark &__text,
    body.dark &__image {
        background-color: colors.$very-dark-blue;
        animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }

}

//Estilos de los articulos individuales
.article {
    position: absolute;
    top: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px max-content;
    place-items: center;
    padding: 20px 30px;
    gap: 50px;
    line-height: 2;

    &__border {
        border: none;
        margin-top: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 3px;
        margin-right: 10px;
        padding: 5px 20px;
    }

    body.dark &__border{
        background-color: colors.$dark-blue;
    }

    &__span {
        font-weight: 600;
    }

    &__title {
        grid-column: span 2;
        font-size: 24px;
    }

    &__flag {
        max-width: 100%;
        height: 400px;
    }

    &__back {
        grid-column: span 2;
        height: auto;
        justify-self: self-start;
        padding: 7px 25px;
        background-color: colors.$white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border: none;
        border-radius: 5px;
    }

    &__data {
        width: 100%;
        height: 100%;
        padding: 20px 0;
        display: grid;
        &--one,
        &--two {
            max-width: 300px;
            word-wrap: break-word;
        }

        &--borders{   
            grid-column: span 2;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        object-fit: cover;
        border-radius: 7px;
    }

    body.dark &__back {
        background-color: colors.$dark-blue;
    }
}

.load.loading {
    display: block;
    background-color: black;
}

.container {
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: -10;
    padding: 20px 0;

    &__section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        padding: 0 20px;
        position: relative;
        z-index: 10;
    }

    &__article {
        background-color: colors.$white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        width: 100%;
        border-radius: 7px;
        height: 400px;
        overflow: hidden;

        &--text {
            padding: 20px 30px;
            line-height: 2;
            word-wrap: break-word;
        }

        &--title {
            font-size: 18px;
            font-weight: 800;
            margin-bottom: 10px;
        }

    }

    body.dark &__article {
        background-color: colors.$dark-blue;
    }

    .text-span {
        font-weight: 600;
    }

    &__image {
        width: 100%;
        height: 50%;
    }

}

//Estilos en caso de que no se encuentre la ruta buscada.
.error404 {
    text-align: center;
    grid-column: span 4;
    line-height: 2;

    &__text {
        font-size: 1.5rem;
    }

    &__back {
        display: inline-block;
        font-size: 1rem;
        background-color: colors.$error404;
        padding: 3px 20px;
        margin-top: 20px;
        border-radius: 5px;
        transition: background-color .5s ease-in;
        color: colors.$white;
    }

    &__back:hover {
        background-color: colors.$error404-hover;
    }

    &__image {
        font-weight: 800;
        text-align: center;
        font-size: 4rem;
        animation: upDown 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }

}

//Para tablets
@media screen and (max-width: 962px) {
    .container__section {
        grid-template-columns: repeat(3, 1fr);
    }
}

//Para dispositivos moviles
@media screen and (max-width: 768px) {
    .container__section {
        grid-template-columns: repeat(2, 1fr);

    }

    .container__article {
        height: 350px;
    }

    .article {
        grid-template-columns: repeat(1, 100%);
        gap: 20px;

        &__back {
            grid-column: span 1;
        }

        &__flag {
            max-width: 100%;
            height: 200px;
        }

        &__data {

            &--one {
                margin-bottom: 30px;
            }

            &--one,
            &--two {
                grid-column: span 2;
               // width: 100%;
            }
        }

        body.dark &__img {
            opacity: 0.8;
        }
    }

    .error404 {
        &__text {
            font-size: 1rem;
        }

        &__image {
            font-size: 3rem;
        }
    }

}

//Para dispositivos moviles
@media screen and (max-width: 462px) {
    .container__section {
        grid-template-columns: repeat(1, 1fr);
    }

    .search {

        &__input,
        &__select {
            width: 100%;
        }

        &__select {
            margin-top: 15px;
        }
    }

}

//Animaciones
@keyframes upDown {

    0%,
    100% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(0px);
    }
}


@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: .8;
    }
}